div.header h1 {
	text-decoration: underline;
	text-align: center; 
}

div.thegoods {
	margin-top: 5em; 
	position: relative; 
}
div.recipe {
	border: 1px solid black;
	height: 170px;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #D9D9D9;
	margin-bottom: 0.8em;
}
div.time {
	margin-right: 1em;
}
p {
	font-size: 12px !important;
}

ul {
	margin: 1em;
}

ul li{
    display:inline-block;
}

.infocol {
	height:170px; 
	overflow:auto;
}
.image {
	background-color: none;
	margin-left: 0;
	padding: 0;
}
.time {
	margin: 2em;
	text-align: center;
}