div.header h1 {
	text-decoration: underline;
	text-align: center; 
}

div.thegoods {
	margin-top: 5em; 
	position: relative; 
}
div.recipe {
	height: 14.500em;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #D9D9D9;
	margin-bottom: 0.8em;
	border-bottom: 1px solid black;
}
div.recipe:hover {
	background: #ddd;
}

div.time {
	margin-right: 1em;
	margin: 2em;
	text-align: center;
}
p {
	font-size: 0.750em !important;
}

ul {
	margin: 1em;
}

ul li{
    display:inline-block;
}

.infocol {
	height:14.500em; 
	overflow:auto;
}
.image {
	background-color: none;
	margin-left: 0;
	padding: 0;
	z-index: 1;
}
.timer {
	z-index: 2;
	position: absolute;
	text-align: center;
	border: 1px solid #444;
	background: #d44848;
	width: 5em;
	height: 1.5em;
	font-size: 1em;
	color: white;
	font-weight: bold;
}
.button {
	top: 0.5em;
	margin: 0.5em;
	width: 5em;
	height: 3em;
	position: relative;
	z-index: 2;
} 
.button:hover {
	background-color: #d44848;
}

/*=====================================
=            MEDIA QUERIES            =
=====================================*/

@media screen and (max-width: 990px) {
 
 .respon {
 	padding: 0;
 	margin: 0;
 	float: left;
 	width: 32%;
 	height: 100%;
 }
.image {
	/*display: none;*/
}
.infocol {
	padding: 0;
	margin: 0;
	position: relative;
	float: right;
	width: 68%;
}
.infocol p {
	margin: 1em;
}
.button {
	position: absolute;
	width: 20%;
}
ul {
	float: right;
	width: 80%;
}

}

/*==============================
=            FOOTER            =
==============================*/





/*==============================
=            HEADER            =
==============================*/

.bg {
	position: relative;
	width: 100%;
	height: 25em;
    border-bottom: 3px solid #d44848;
	margin-bottom: 3em;
	z-index: 1;
	overflow: hidden;
}
.bg h4 {
	font-weight: bold;
	color: white;
}
.bg h5 {
	font-size: 2em;
	letter-spacing: 4px;
	text-align: center;
	margin: auto;
}
.head {
	margin-top: 3%;
}

.featurefood img {
	margin-bottom: 2em; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.timeface {
	margin-top: -0.2em;
	text-align: center; 
	font-size: 4em; 
	font-weight: bold; 
	color:white;
}


/*=============================================
=            Background for Header            =
=============================================*/

#bg {
	position: absolute;
  top: 0; 
  left: 0; 
  z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/*==============================
=            COLORS            =
==============================*/

.reddy {
	color: #d44848;
}

/* Shared styles */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    height: 5em;
}

#main-container {
    background: url(/assets/images/bg-image.png) no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;
}

textarea, input { outline: none; }

footer {
    padding-top: 0.5em;
    color: white;
    height: 3em;
    width: 100%;
    text-align: center;
    background: transparent;
}
footer a {
    color: white;
}
footer a:hover {
    color: #d44848;
    text-decoration: none;
}

/* Front Page */

header .fb-container {
    float: right;
    padding: 1.5em 3em;
}

header .fb-container span {
    padding-right: 4em;
    font-size: 1.1em;
}

.front-page-heading {
    margin-top: 10%;
    background: transparent;
}

.front-page-heading h1 {
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}

.front-page-time-chooser {
    margin: 2em auto;
    width: 25em;
}

.front-page-time-chooser input {
    width: 1.2em;
    background: transparent;
    font-size: 5em;
    font-weight: 600;
    border: none;
    display: block;
    padding: 0;
}

.time-chooser {
    width: 15em;
    margin: 2em auto;
}

.time-chooser .chooser-title {
    margin-bottom: -1em;
    color: #d44848;
    font-size: 1.1em;
}

.time-chooser span {
    float: left;
    font-size: 5em;
    font-weight: 600;
    width: 0.5em;
    text-align: center;
}

.time-chooser-hours {
    float: left;
}

.time-chooser-mins {
    float: right;
}

.front-page-time-chooser button {
    padding: 0.9em 2.6em;
    font-size: 1.2em;
}