div.header h1 {
	text-decoration: underline;
	text-align: center; 
}

div.thegoods {
	margin-top: 5em; 
	position: relative; 
}
div.recipe {
	height: 14.500em;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #D9D9D9;
	margin-bottom: 0.8em;
	border-bottom: 1px solid black;
}
div.recipe:hover {
	background: #ddd;
}

div.time {
	margin-right: 1em;
	margin: 2em;
	text-align: center;
}
p {
	font-size: 0.750em !important;
}

ul {
	margin: 1em;
}

ul li{
    display:inline-block;
}

.infocol {
	height:14.500em; 
	overflow:auto;
}
.image {
	background-color: none;
	margin-left: 0;
	padding: 0;
	z-index: 1;
}
.timer {
	z-index: 2;
	position: absolute;
	text-align: center;
	border: 1px solid #444;
	background: #d44848;
	width: 5em;
	height: 1.5em;
	font-size: 1em;
	color: white;
	font-weight: bold;
}
.button {
	top: 0.5em;
	margin: 0.5em;
	width: 5em;
	height: 3em;
	position: relative;
	z-index: 2;
} 
.button:hover {
	background-color: #d44848;
}

/*=====================================
=            MEDIA QUERIES            =
=====================================*/

@media screen and (max-width: 990px) {
 
 .respon {
 	padding: 0;
 	margin: 0;
 	float: left;
 	width: 32%;
 	height: 100%;
 }


.image {
	/*display: none;*/
}

.infocol {
	padding: 0;
	margin: 0;
	position: relative;
	float: right;
	width: 68%;
}
.infocol p {
	margin: 1em;
}
.button {
	position: absolute;
	width: 20%;
}

ul {
	float: right;
	width: 80%;
}

}

/*==============================
=            FOOTER            =
==============================*/

footer {
	text-decoration: none;
	color: white;
	height: 2em;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
}
footer a {
	color: white;
}
footer a:hover {
	color: #d44848;
	text-decoration: none;
}




