# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#IDE Configs
.DS_Store
.idea
.fuse_*

bower_components/*
node_modules/*
app/Resources/lib/*

#vagrant machines
.vagrant/machines
