{% extends '::base.html.twig' %}

{% block body %}
<div id="main-container">
    <header>
        <div class="fb-container clearfix">
            <span>Mes norime žinoti ką mėgsti labiausiai!</span>
            <a href="#">
                <img src="/assets/images/fb-login.png" alt="Prisijungti su facebook" />
            </a>
        </div>
    </header>
</div>
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/jquery.hoverizr.min.js') }}"></script>
{% endblock %}
{% endblock %}