<div class="recipe-description">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ asset('assets/images/test_images/product.png') }}" alt="Receptas" class="recipe-thumbnail"/><br/>
            <a class="btn btn-primary" href="make_food">Pradėti gaminti</a>
        </div>
        <div class="col-md-7 col-md-offset-1 recipe-requirements">
            <h2>Reikės</h2>
            <ul>
                <li>Pora skiltelių česnako</li>
                <li>Konservuotų pomidorų savo sultyse be odelių (nedidelė skardinė)</li>
                <li>Žalių alyvuogių saujos</li>
                <li>Šaukšteio kaparėlių</li>
                <li>Šaukšto balzimiko acto</li>
                <li>Druskos, pipirų</li>
                <li>Alyvuogių aliejaus</li>
                <li>Puskiečio sūrio ant viršaus</li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 text-justify">
            Šiuo atveju – visai klasikinė kombinacija: spageti pomidorų padaže. Padažas pasidaro iš konservuotų pomidorų
            savo sultyse be odelių, paskui dar pomidoriškumą paryškinu tiesiog smulkiai supjaustytais pomidorais, o
            pomidorams į kompaniją – jiems įprasti kompanionai: česnakas, čiobrelis, alyvuogės ir kaparėliai.
        </div>
    </div>
</div>