{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
 	<!-- TOP DECK START -->
	<div class="header">
		<h1>CookTimeSaver</h1>
	</div>
	<hr/>

	<div class="form-group col-md-5">
		    <input type="text" class="form-control" id="Food-input" placeholder="Enter The Food of your choice">
	</div>
	<div class="col-md-2">
		<h2 class="cleared text-muted" style='margin-top: 0; text-align: center;'>20:00</h2>
	</div>
	<div class="form-group col-md-5">
		    <input type="text" class="form-control" id="Food-input" placeholder="Enter The Food of your choice">
	</div>

		
	<!-- TOP DECK END -->

	<div class='thegoods jumbotron'>
		<div class='recipe row cold-md-12'>
			<div class='respon'>
				<p class='timer'>~{{ recipe.getTime }}min</p>
				<img alt="200x200" class="image col-md-3" src="http://lorempixel.com/200/200">
			</div>

			<div class="infocol col-md-9 ">

				<div class='col-md-1'>
					<button type="button" class="btn btn-primary button">Pradeti</button>	
				</div>
				<div class="col-md-11">
					<ul>
						<strong>Ingridientai:</strong>
						{{ recipe.getIng }}
					</ul>
				</div>

				<strong>Aprasymas</strong>
				<p> {{ recipe.getAbout }} </p>

			</div>

		</div>


	</div>





</div>
	
{% endblock %}
