<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CookTimeSaver{% endblock %}</title>
    {% block stylesheets %}

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,latin-ext' rel='stylesheet'
              type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main2.css') }}">
    {% endblock %}

    {{ include('shim.html') }}
</head>
<body>
<div id="main-container">
    <header>
        {% block header %}{% endblock %}
    </header>
{% block body %}{% endblock %}
</div>
{% block footer %}
    <footer>
        <a href="http://www.nfq.lt/">NFQAkademija 2014</a> //
        <a href="https://github.com/nfqakademija/cooktimesaver">Komanda nr. 1</a>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% endblock %}
</body>
</html>
