body {
  font-family: $font-stack;
  background-color: #000;
  color: #fff;
  background: url(/assets/images/bg-image.jpg) no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  height: 5em;
  padding: 0 2em;
  h1 {
    font-size: 2.2em;
    font-weight: 600;
    padding-top: 0.5em;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    span {
      color: #d44848;
    }
  }

  a {
    color: #fff !important;
    text-decoration: none !important;
  }
}


#main-container {

}

textarea, input {
  outline: none;
}

footer {
  padding: 1em;
  color: #d8d8d8;
  width: 100%;
  background: rgba(51, 51, 51, 0.9);
  border-top: 3px solid #d44848;
  height: 136px;
  overflow: hidden;
  a {
    color: white;
    &:hover {
      color: #d44848;
      text-decoration: none;
    }
  }
}

/* Papildomos Bootstrap klasės */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
  text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
  text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
  text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
  text-align: justify;
}

@media (max-width: 767px) {
  .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
    text-align: inherit;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-right-xs {
    text-align: right;
  }
  .text-justify-xs {
    text-align: justify;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
    text-align: inherit;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-justify-sm {
    text-align: justify;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
    text-align: inherit;
  }
  .text-left-md {
    text-align: left;
  }
  .text-center-md {
    text-align: center;
  }
  .text-right-md {
    text-align: right;
  }
  .text-justify-md {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
    text-align: inherit;
  }
  .text-left-lg {
    text-align: left;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-justify-lg {
    text-align: justify;
  }
}