body {
  font-family: $font-stack;
  background-color: #000;
  color: #fff;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  height: 5em;
  padding: 0 2em;
  h1 {
    font-size: 2.2em;
    font-weight: 600;
    padding-top: 0.5em;
    margin: 0;
    span {
      color: #d44848;
    }
  }

  a {
    color: #fff !important;
    text-decoration: none !important;
  }
}


#main-container {
  background: url(/assets/images/bg-image.png) no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

textarea, input {
  outline: none;
}

footer {
  padding: 2em 0;
  color: white;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-top: 3px solid #d44848;
  a {
    color: white;
    &:hover {
      color: #d44848;
      text-decoration: none;
    }
  }
}
