@media screen and (max-width: 650px) {
  header .fb-container span {
    display: none;
  }

  header h1 {
    font-size: 1.7em;
    padding-top: 0.8em;
  }
}

header .fb-container {
  float: right;
  padding: 1.5em 3em;
  span {
    padding-right: 4em;
    font-size: 1.1em;
  }
}

.front-page-heading {
  margin-top: 0;
  background: transparent;
  h1 {
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
  }
}

.front-page-time-chooser {
  margin: 2em auto;
  width: 26em;
  input {
    width: 1.4em;
    background: transparent;
    font-size: 5em;
    font-weight: 600;
    border: none;
    display: block;
    padding: 0;
    text-align: center;
  }
  h4 {
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
    font-weight: 300;
    font-size: 1.2em;
  }
}

.time-chooser {
  width: 17em;
  margin: 2em auto;
  .chooser-title {
    margin-bottom: -1em;
    color: #d44848;
    font-size: 1.1em;
    width: 5.2em;
  }
  span {
    float: left;
    font-size: 5em;
    font-weight: 600;
    width: 0.5em;
    text-align: center;
  }
}

.time-chooser-hours {
  float: left;
}

.time-chooser-mins {
  float: right;
}

.front-page-time-chooser button {
  padding: 0.9em 2.6em;
  font-size: 1.2em;
}

.front-page-bottom-text {
  margin-top: 7%;
  span {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.72);
  }
}