@media screen and (max-width: 650px) {
  header .fb-container span {
    display: none;
  }

  header h1 {
    font-size: 1.6em;
    padding-top: 0.8em;
  }
}

header .fb-container {
  float: right;
  padding: 1.5em 3em;
  span {
    padding-right: 4em;
    font-size: 1.1em;
  }
}

.front-page-heading {
  margin-top: 0;
  background: transparent;
  h1 {
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 3px 3px 34px rgba(255,255,255,0.5);
  }
}

.front-page-card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: calc(50% - 800px);
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 2em;
  border-radius: 10px;
  color: #fff;

  .jumbotron {
    background: transparent;
  }
}

.front-page-time-chooser {
  margin: 2em auto;
  width: 22em;
  input {
    width: 1.2em;
    background: transparent;
    font-size: 5em;
    font-weight: 600;
    border: none;
    display: block;
    padding: 0;
    text-align: center;
  }
  h4 {
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
    font-weight: 600;
    font-size: 1.2em;
  }
  h5 {
    font-size: 13px;
    margin-bottom: 2em;
  }
}

.time-chooser {
  width: 15em;
  margin: 2em auto;
  border: 2px solid #8A3C3C;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  .chooser-title {
    margin-bottom: -1em;
    color: #d44848;
    font-size: 1.1em;
    width: 100%;
  }
  span {
    float: left;
    font-size: 5em;
    font-weight: 600;
    width: 0.3em;
    text-align: center;
  }
}

.time-chooser-hours {
  float: left;
}

.time-chooser-mins {
  float: right;
}

.front-page-time-chooser button {
  padding: 0.9em 2.6em;
  font-size: 1.2em;
}

.front-page-bottom-text {
  margin: 2em auto;
}