#make-recipe {
  background-color: #eeeeee;
  width: 100%;
  min-height: 500px;
  border-top: 4px solid #d44848;
  padding: 2em 0;

  .reminder {
    width: 100%;
    padding: 1em 0;
    background-color: #faff92;
    text-align: center;
    margin: -30px 0 30px 0;
    display: none;
    cursor: pointer;

    span {
      font-weight: bold;
      color: #464646;
    }

    a {
      display: inline-block;
      float: right;
      margin-right: 2em;
    }
  }

  .skanaus {
    display: none;
    text-align: center;

    h1 {
      color: #8F8F8F;
      font-size: 5em;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    h2 {
      font-size: 1.2em;
    }
  }

  h1 {
    color: #000000;
  }

  .recipe-step {
    .recipe-step-timepanel {
      color: #282828;
      font-size: 0.9em;
      margin-top: 1em;
      text-align: center;

      .step-timer {
        span {
          vertical-align: middle;
          padding-left: 0.3em;
          font-size: 1.3em;
          color: #d44848;
        }
      }

      span {
        vertical-align: middle;
        padding-left: 0.3em;
        font-size: 1.3em;
        color: #d44848;
      }

      .row {
        div:first-child {
          font-size: 1.5em;
        }
      }
    }

    .step-description {
      color: #585858;
      margin-top: 10px;
      font-weight: bold;
    }

    .recipe-step-img {
      max-width: 225px;
      width: 100%;
    }
  }

  .steps-block-title {
    font-size: 1.7em;
    color: #d44848;
  }

  .panel-wizard {
    border-color: #A5A5A5;
    background-color: #f7f8fa;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
  }
  .panel-wizard > .panel-heading {
    color: #464a55;
    background-color: #fcf8e3;
    border-color: #A5A5A5;
    padding: 4px 15px;
  }

  .panel-wizard > .panel-heading h3 {
    float: left;
    margin-top: 8px;
  }

  .panel-wizard > .panel-heading button {
    float: right;
  }

  .panel-wizard > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #96846c;
  }
  .panel-wizard > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #faebcc;
  }

  .panel-wizard > .panel-heading {
    background-image: url(/assets/images/panel-top-bg.png);
    background-repeat: repeat-x;
  }

  .steps-block-title {
    margin-left: 15px;
  }

  .steps-container {
    margin-top: 0.5em;

    .no-steps {
      color: #696969;
      margin-left: 1.5em;
    }
  }

  #currently-making-steps {
    margin-bottom: 3em;
  }

  #steps-progress {
    width: 100%;
    height: 33px;
    padding: 5px;
    border-radius: 15px;
    background-color: #E7E7E7;
    border: 1px solid;
    border-top-width: 2px;
    border-top-color: #A7A7A7;
    border-bottom-color: #FFF;
    border-left-color: #C5C5C5;
    border-right-color: #C5C5C5;

    .progress-line {
      width: 2%;
      height: 20px;
      border-radius: 10px;
      border: 1px solid #CC4343;
      background: rgb(248,80,50);
      background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1)));
      background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
      background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
      background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
      background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 );

    }
  }

  .progress-row {
    margin-bottom: 1em;
    span {
      font-weight: bold;
      color: #838383;
      font-size: 1.6em;
    }
  }

}

.recipe-title {
  padding: 120px 0;

  h1 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 4em;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.7);
  }

  .recipe-description {
    width: 100%;
    max-width: 1000px;
    margin: 2em auto;
    text-align: center;


    #recipe-desc-trigger {
      width: 64px;
      height: 64px;
      display: block;
      margin: 0 auto;
    }

    .desc {
      height: 0;
      overflow: hidden;
      background: rgba(0,0,0,0.6);
      margin-top: 2em;

      p {
        color: #fff;
        padding: 2em;
        font-size: 1.3em;
      }
    }
  }
}

.make-food-bg {
  background-size: cover !important;
}

.tooltipster-light {
  border-radius: 5px;
  border: 1px solid #cccccc;
  background: #ededed;
  color: #666666;
}

.tooltipster-light .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}