#make-recipe {
  background-color: #eeeeee;
  width: 100%;
  min-height: 500px;
  margin-top: 2em;
  border-top: 4px solid #d44848;
  padding: 2em 0;

  h1{
    color: #000000;
  }

  .recipe-step {
    .recipe-step-timepanel {
      color: #282828;
      font-size: 0.9em;
      margin-top: 1em;
      text-align: left;

      span {
        vertical-align: middle;
        padding-left: 0.3em;
        font-size: 1.3em;
        color: #d44848;
      }

      .row {
        div:first-child {
          font-size: 1.5em;
        }
      }
    }

    .step-description {
      color: #000;
    }

    .recipe-step-img {
      max-width: 285px;
      width: 100%;
    }
  }

  .steps-block-title {
    font-size: 1.7em;
    color: #d44848;
  }

  #start-clock h1 {
    display: none;
  }
}

