#make-recipe {
  background-color: #eeeeee;
  width: 100%;
  min-height: 500px;
  border-top: 4px solid #d44848;
  padding: 2em 0;

  h1 {
    color: #000000;
  }

  .recipe-step {
    .recipe-step-timepanel {
      color: #282828;
      font-size: 0.9em;
      margin-top: 1em;
      text-align: left;

      span {
        vertical-align: middle;
        padding-left: 0.3em;
        font-size: 1.3em;
        color: #d44848;
      }

      .row {
        div:first-child {
          font-size: 1.5em;
        }
      }
    }

    .step-description {
      color: #000;
    }

    .recipe-step-img {
      max-width: 285px;
      width: 100%;
    }
  }

  .steps-block-title {
    font-size: 1.7em;
    color: #d44848;
  }

  #start-clock h1 {
    display: none;
  }

  .panel-wizard {
    border-color: #A5A5A5;
    background-color: #f7f8fa;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
  }
  .panel-wizard > .panel-heading {
    color: #464a55;
    background-color: #fcf8e3;
    border-color: #A5A5A5;
  }

  .panel-wizard > .panel-heading h3 {
    float: left;
    margin-top: 8px;
  }

  .panel-wizard > .panel-heading button {
    float: right;
  }

  .panel-wizard > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #96846c;
  }
  .panel-wizard > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #faebcc;
  }

  .panel-wizard > .panel-heading {
    background-image: url(/assets/images/panel-top-bg.png);
    background-repeat: repeat-x;
  }

  .steps-block-title {
    margin-left: 15px;
  }

  .steps-container {
    margin-top: 0.5em;

    .no-steps {
      color: #696969;
      margin-left: 1.5em;
    }
  }

  #currently-making-steps {
    margin-bottom: 3em;
  }

}

.recipe-title {
  padding: 120px 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 4em;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.7);
}

.make-food-bg {
  background-size: cover !important;
}