#make-recipe {
  background-color: #eeeeee;
  width: 100%;
  min-height: 500px;
  border-top: 4px solid #d44848;
  padding: 2em 0;

  h1 {
    color: #000000;
  }

  .recipe-step {
    .recipe-step-timepanel {
      color: #282828;
      font-size: 0.9em;
      margin-top: 1em;
      text-align: center;

      span {
        vertical-align: middle;
        padding-left: 0.3em;
        font-size: 1.3em;
        color: #d44848;
      }

      .row {
        div:first-child {
          font-size: 1.5em;
        }
      }
    }

    .step-description {
      color: #585858;
      margin-top: 10px;
      font-weight: bold;
    }

    .recipe-step-img {
      max-width: 225px;
      width: 100%;
    }
  }

  .steps-block-title {
    font-size: 1.7em;
    color: #d44848;
  }

  .panel-wizard {
    border-color: #A5A5A5;
    background-color: #f7f8fa;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
  }
  .panel-wizard > .panel-heading {
    color: #464a55;
    background-color: #fcf8e3;
    border-color: #A5A5A5;
  }

  .panel-wizard > .panel-heading h3 {
    float: left;
    margin-top: 8px;
  }

  .panel-wizard > .panel-heading button {
    float: right;
  }

  .panel-wizard > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #96846c;
  }
  .panel-wizard > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #faebcc;
  }

  .panel-wizard > .panel-heading {
    background-image: url(/assets/images/panel-top-bg.png);
    background-repeat: repeat-x;
  }

  .steps-block-title {
    margin-left: 15px;
  }

  .steps-container {
    margin-top: 0.5em;

    .no-steps {
      color: #696969;
      margin-left: 1.5em;
    }
  }

  #currently-making-steps {
    margin-bottom: 3em;
  }

  #steps-progress {
    width: 100%;
    height: 33px;
    padding: 5px;
    border-radius: 15px;
    background-color: #E7E7E7;
    border: 1px solid;
    border-top-width: 2px;
    border-top-color: #A7A7A7;
    border-bottom-color: #FFF;
    border-left-color: #C5C5C5;
    border-right-color: #C5C5C5;

    .progress-line {
      width: 2%;
      height: 20px;
      border-radius: 10px;
      border: 1px solid;
      border-top-color: #726161;
      border-left-color: #9E4F4F;
      border-bottom-color: #9B8484;
      border-right-color: #9E4F4F;
      background: url('/assets/images/bar-pattern.png') repeat #7E0202;
    }
  }

  .progress-row {
    margin-bottom: 1em;
    span {
      font-weight: bold;
      color: #838383;
      font-size: 1.6em;
    }
  }

}

.recipe-title {
  padding: 120px 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 4em;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.7);
}

.make-food-bg {
  background-size: cover !important;
}