#search {
  .heading {
    .heading-input {
      margin-top: 3em;
      input {
        width: 90%;
        padding: 0.5em 0.8em;
        border-radius: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0.9);
        color: #000000;
      }
      h3 {
        font-size: 1.5em;
      }
    }
  }
}

.searchpage-time-chooser {
  width: 15.5em;
  margin: 2em auto;
  border: 2px solid #d44848;
  border-radius: 10px;
  padding-top: 0.55em;
  background-color: rgba(0, 0, 0, 0.6);

  input {
    width: 1.4em;
    background: transparent;
    font-size: 5em;
    font-weight: 600;
    border: none;
    display: block;
    padding: 0;
    text-align: center;
    @include placeholder {
      color: white;
    }
  }

  h4 {
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
    font-weight: 300;
    font-size: 1.2em;
  }

  .chooser-title {
    margin-bottom: -1em;
    color: #d44848;
    font-size: 1.1em;
  }

  span {
    float: left;
    font-size: 5em;
    font-weight: 600;
    width: 0.2em;
    text-align: center;
  }

  .time-chooser-hours {
    float: left;
  }

  .time-chooser-mins {
    float: right;
  }
}

#search-results-container {
  background-color: #eeeeee;
  width: 100%;
  min-height: 500px;
  margin-top: 2em;
  border-top: 4px solid #d44848;
  padding: 2em 0;

  h1 {
    color: #d44848;
    font-size: 1.9em;
    font-weight: 600;
  }

  .result {
    width: 200px;
    height: 300px;
    margin: 0 auto 2em auto;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 1px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 1px 2px 1px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 1px 2px 1px 0px rgba(50, 50, 50, 0.52);
    background-color: #fff;
    position: relative;

    .result-img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: block;
    }

    .result-description {
      padding: 15px;

      .icon-space {
        float: left;
      }

      .result-title {
        float: left;
        width: 135px;
        margin-left: 5px;
        padding-top: 6px;

        a {
          font-size: 0.9em;
          color: #969696;
          word-break: break-all;
        }
      }
    }

    .result-time-required {
      position: absolute;
      bottom: 15px;
      left: 20px;

      span {
        color: #d44848;
        vertical-align: middle;
        font-size: 1.3em;
        margin-left: 5px;
      }
    }
  }

  .row {
    margin-top: 2em;
  }
}