#search {
  .heading {
    .heading-input {
      margin-top: 3em;
      input {
        width: 90% !important;
        padding: 0.5em 0.8em;
        border-radius: 5px;
        border: none;
        background: transparent !important;
        color: #000000;
      }
      h3 {
        font-size: 1.5em;
      }
    }
  }
}

#have-in-fridge,
#not-eating {
  max-width: 350px;
}

.searchpage-time-chooser {
  width: 15.5em;
  margin: 2em auto;
  border: 2px solid #d44848;
  border-radius: 10px;
  padding-top: 0.55em;
  background-color: rgba(0, 0, 0, 0.6);

  input {
    width: 1.4em;
    background: transparent;
    font-size: 5em;
    font-weight: 600;
    border: none;
    display: block;
    padding: 0;
    text-align: center;
    @include placeholder {
      color: white;
    }
  }

  h4 {
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
    font-weight: 300;
    font-size: 1.2em;
  }

  .chooser-title {
    margin-bottom: -1em;
    color: #d44848;
    font-size: 1.1em;
  }

  span {
    float: left;
    font-size: 5em;
    font-weight: 600;
    width: 0.2em;
    text-align: center;
  }

  .time-chooser-hours {
    float: left;
  }

  .time-chooser-mins {
    float: right;
  }
}

#search-results-container {
  background-color: #eeeeee;
  width: 100%;
  min-height: 500px;
  margin-top: 2em;
  border-top: 4px solid #d44848;
  padding: 2em 0;
  position: relative;

  h1 {
    color: #d44848;
    font-size: 1.9em;
    font-weight: 600;
  }

  .result {
    width: 200px;
    height: 300px;
    margin: 0 auto 2em auto;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 1px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 1px 2px 1px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 1px 2px 1px 0px rgba(50, 50, 50, 0.52);
    background-color: #fff;
    position: relative;

    .result-img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: block;
      width: 200px;
      height: 165px;
    }

    .result-description {
      padding: 15px;

      .icon-space {
        float: left;
      }

      .result-title {
        float: left;
        width: 135px;
        margin-left: 5px;
        padding-top: 6px;

        a {
          font-size: 0.9em;
          color: #969696;
          word-break: break-all;
        }
      }
    }

    .result-time-required {
      position: absolute;
      bottom: 15px;
      left: 20px;

      span {
        color: #d44848;
        vertical-align: middle;
        font-size: 1.3em;
        margin-left: 5px;
      }
    }
  }

  .row {
    margin-top: 2em;
  }
}

.recipe-description {
  color: #000;
  .recipe-requirements {
    h2 {
      color: #d44848;
      margin: 0;
      font-size: 1.5em;
    }
    ul {
      list-style: none;
      margin-top: 10px;
      padding: 0;

      li {
        margin-bottom: 5px;
      }
    }
  }

  a {
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    padding-top: 8px;
  }

  .recipe-thumbnail {
    margin-bottom: 1em;
  }
}

#search-button {
  margin-top: 1em;
  font-size: 1.3em;
  padding: 0.4em 2em;
}

.search-ajax-loading {
  width: 100%;
  height: 100%;
  min-height: 500px;
  top: 0;
  position: absolute;
  background: url('/assets/images/ajax-loading.gif') no-repeat center center rgba(0, 0, 0, 0.9);
}

.not-found-text {
  color: #B8B8B8;
  font-weight: bold;
}