cts_recipes_homepage:
    pattern:  /
    defaults: { _controller: CtsRecipesBundle:Recipes:index }

cts_search_page:
    path: /search
    defaults: { _controller: CtsRecipesBundle:Recipes:search }

cts_recipe_description:
    path: /recipe_description
    defaults: { _controller: CtsRecipesBundle:Recipes:recipeDescription}
    
cts_recipe_show:
    path: /make_food
    defaults: { _controller: CtsRecipesBundle:Recipes:makeFood}
