cts_recipes_homepage:
    pattern:  /
    defaults: { _controller: CtsRecipesBundle:Recipes:index }

cts_search_page:
    path: /search
    defaults: { _controller: CtsRecipesBundle:Recipes:search }

cts_recipe_description:
    path: /recipe_description/{id}
    defaults: { _controller: CtsRecipesBundle:Recipes:clickedRecipe }

cts_recipe_show:
    path: /make_food/{id}
    defaults: { _controller: CtsRecipesBundle:Recipes:makeFood }